.body{
    background-color: aliceblue;
    font-family: 'DM Sans', sans-serif;
    display: block;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 50px;
}
.rojo{
    background-color: rgb(235, 2, 2);
    border: 0px solid rgba(0, 0, 0, 0);
    border-radius: 10px;
   font-size: 40px;
    font-family: 'Poppins', sans-serif;

}
.verde{
    background-color: rgb(16, 156, 35);
    border: 0px solid rgba(0, 0, 0, 0);
    border-radius: 10px;
   font-size: 40px;
    font-family: 'Poppins', sans-serif;

}
.azul{
    background-color: rgb(3, 124, 194);
    border: 0px solid rgba(0, 0, 0, 0);
    border-radius: 10px;
   font-size: 40px;
    font-family: 'Poppins', sans-serif;

}
.amarillo{
    background-color: rgb(16, 156, 35);
    border: 0px solid rgba(0, 0, 0, 0);
    border-radius: 10px;
   font-size: 40px;
    font-family: 'Poppins', sans-serif;

}
.negro{
    background-color: rgb(16, 156, 35);
    border: 0px solid rgba(0, 0, 0, 0);
    border-radius: 10px;
   font-size: 40px;
    font-family: 'Poppins', sans-serif;

}